[project]
	description = camel ironmq component
[access "refs/*"]
	owner = group user/Preben Asmussen (pax95)
[access "refs/for/refs/*"]
	read = group user/Preben Asmussen (pax95)
	push = group user/Preben Asmussen (pax95)
	label-Code-Review = -2..+2 group user/Preben Asmussen (pax95)
	label-Verified = -1..+1 group user/Preben Asmussen (pax95)
	rebase = group user/Preben Asmussen (pax95)
	removeReviewer = group user/Preben Asmussen (pax95)
	submit = group user/Preben Asmussen (pax95)
[access "refs/heads/*"]
	read = group user/Preben Asmussen (pax95)
	create = group user/Preben Asmussen (pax95)
	push = +force group user/Preben Asmussen (pax95)
	pushMerge = group user/Preben Asmussen (pax95)
[access "refs/tags/*"]
	push = +force group user/Preben Asmussen (pax95)
	pushTag = group user/Preben Asmussen (pax95)
	pushSignedTag = group user/Preben Asmussen (pax95)
